@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Kanit', sans-serif;

  header {
    a:hover {
      background-color: #DC3545;
    }
  }

  .card {  
    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
