@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Kanit', sans-serif;

  header {
    a:hover {
      background-color: #DC3545;
    }
  }

  .card {
    box-shadow: -6px 6px 10px 0 #666666;

    img {
      object-fit: cover;
      object-position: center;
      transition: object-fit 0.3s;

      &:hover {
        object-fit: contain;
      }
    }
  }
}
